{% extends 'base.html' %} {% block content %}

<h1>오늘 저녁은 {{pick.name}} 입니다!</h1>
<h1>메뉴 리스트</h1>
<ul>
    {% for menu in menus %}
    <li>{{ menu.name }}{{ menu.price }}</li>
    {% endfor %}
</ul>

{% if pick.price > 20000 %}
<p>비쌈</p>
{% elif pick.price > 10000 %}
<p>먹을 수 있음</p>
{% else %}
<p>맛있겠당</p>
{% endif %}

<a href="{% url 'articles:review' %}">[리뷰 작성하기]</a>
<hr />

<h1> Review </h1>
{% for article in articles %}
<p>글 번호 : {{ article.pk }}</p>
<p>글 제목 : {{ article.title }}</p>
<p>글 내용 : {{ article.content }}</p>
<a href="{% url 'articles:detail' article.pk %}">[상세 리뷰 보기]</a>
<hr />

{% endfor %}{% endblock %}